body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
    width:300px;
    border-radius:100%;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
 }
 #top{
     background-color:#f0802b;
     height:100px;
     width:500px;
     color:#013364;
     font-size:20px;
     border-radius:5px;
     font-weight:bold;
     margin:-50px;
 }
 .heading{
    color:#013364;
    font-family:sans-serif;
    font-size:20px;
 }
.items{
    color:#f0802b;
    text-align:left;
    font-family:sans-serif;
    font-size:20px;
}
.footer{ 
    color:#7f99e8;
    font-family:sans-serif;
}

.list-heading{
    color:#ea476a;
}
.listing{
    text-align:left;
    color:#428bca;
    font-size:20px;
}

.panel{ 
    background-color:#d7f4ff;
    border:2px solid #d7f4ff;
    height:1000px;
    width:250px;
    border-radius:5px;
    margin:auto;
    margin-top:-40px;
}
#r-panel{
    float:right;
}
#l-panel{
    float:left;
}
.panel-pic{
    height:200px;
    width:200px;
    margin:20px 20px 20px 20px;
    border-radius:100px;
}
h2{ 
    text-align:center;
    color:#013364;
    font-family:sans-serif;
}
.article-heading{
    color:#7f99e8;
    font-size:50px;
}
.article-date{}
.article-content{
    color:#013364;
    font-weight:bold;
}
.article-body{
    background-color:#ffffb3;
}      