
body {font-family: "Lato", sans-serif}

.mySlides {display: none}

.button {
    background-color: white; 
    border: none;
    color: #f4511e;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 4px 4px 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.button5 {
    background-color:  #f4511e;
    color: white;
    border: 2px solid  #f4511e;
}

.button5:hover {
    background-color: white;
    color:  #f4511e;
}

input[type=submit] {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
    font-size:20px;
}

input[type=submit]:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#191919;
}

