body {
    font-family: cursive;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

 .container{
            max-width: 800px;
    margin: 0 auto;
    color: black;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
            }
#items{
                color:#f8cb09;
                text-align:left;
                font-family:cursive;
                font-size:20px;
            }
#bn{margin:auto;
        color:#f8cb09;
        font-size:20px;    
            }
#go{ 
       text-align:center;
       color:#f8cb09;
       font-size:50px;
       font-family:cursive;
            }
#bp{
                height:200px;
                display:block;
                margin:auto;
            margin-top:-100px;
                
            }
#t{ color:#d18000;
                font-size:30px;
       font-family:cursive;
            }
.footer{ color:#d18000;
            font-family:cursive;
            }
#sidebar{
    background-color:#7f99e8;
    height:900px;
    width:250px;
    float:right;
    border:2px solid #7f99e8;
    border-radius:5px;
    margin:auto;
}
    
     
            